body {
    background-color: #f2f9f2;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #006400;
    text-shadow: 2px 2px #cce0cc;
  }
  
  img {
    width: 250px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px gray;
  }
  
  ul {
    list-style-type: circle;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  